/* div {
    border: 1px solid black;
} */

.container {
    display: flex;
    width: 95vw;
    height: 95vh;
    border: 1px solid black;
}

.navbar {
    background-color: #481449;
    color: white;
    width: 5%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
}

.navbar-header {
    height: 90%;
}

.logo {
    font-size: 50px;
}

.logo:hover {
    cursor: pointer;
}

.icon {
    font-size: 40px;
}

.icon:hover {
    background-color: #714774;
    cursor: pointer;
}

.navbar-footer {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-footer img{
    width: 90%;
}

.current-nav {
    background-color: #714774;
}

.user-icon {
    width: 30px;
    text-align: center;
    border-radius: 10px;
}

.thread {
    background-color: #5B2B5C;
    color: white;
    width: 15%;
    display: flex;
    flex-direction: column;
}

.thread-header {
    height: 10%;
    border-bottom: 1px solid black;
    text-align: right;
    padding-right: 5%;
}

.create {
    font-size: 40px;
    cursor: pointer;
}

.thread-list {
    height: 90%;
    overflow: auto;
    padding-left: 5%;
    white-space: nowrap;
    overflow: hidden;
    line-height: 15px;
    font-size: 15px;
}

.thread-title{
    margin: 0;
    padding: 10px;
}

.thread-title:hover {
    background-color: #714774;
    cursor: pointer;
}

.current-thread {
    color: #4C1D4E;
    background-color: #F9EDFF;
}

.current-thread:hover {
    background-color: #F9EDFF;
}

.chat {
    background-color: #FFFFFF;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.chat-header {
    height: 10%;
    border-bottom: 1px solid black;
    padding-left: 5%;
}

.chat-list {
    height: 60%;
    overflow: auto;
    padding-left: 5%;
    line-height: 15px;
    font-size: 15px;
}

.chat-detail{
    display: flex;
    align-items: center;
}
.username{
    font-weight: bold;
    margin-left: 5px;
}

.date{
    font-size: 75%;
    color: gray;
    margin-left: 5px;
}


.chat-editor {
    height: 30%;
    display: flex;
    flex-direction: column;
}

.ql-container {
    height: 60%;
}

.send {
    font-size: 40px;
    display: flex;
    justify-content: right;
    cursor: pointer;
}